* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-bgColor{
  background-color: #005151;
}

.navbar-textColor {
  color : white;
}

.home-text {
    display: flex;
    justify-content: center;
    color: #005151;
    font-size: 50px;
}
.search-btColor { 
  background-color : #005151;
  color : white;
}

.request-text {
  display: flex;
  justify-content: center;
  color: #005151;
  font-size: 22px;
}

.navbar{
  background-color: #005151;
  color : white;
}

.login-form{
  width: 20%;
}

.login-text{
  display: flex;
  justify-content: center;
  color: #005151;
  font-size: 22px;
}

.employee-node{
  padding-top: 10px;
  padding-bottom: 10px;
  border-color:  #008000;
  cursor: pointer;
}

.manager-node{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width:20%;
  cursor: pointer;

}