* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-bgColor{
  background-color: #005151;
}

.navbar-textColor {
  color : white;
}

.home-text {
    display: flex;
    justify-content: center;
    color: #005151;
    font-size: 50px;
}
.search-btColor { 
  background-color : #005151;
  color : white;
}

.request-text {
  display: flex;
  justify-content: center;
  color: #005151;
  font-size: 22px;
}

.navbar{
  background-color: #005151;
  color : white;
}

.login-form{
  width: 20%;
}

.login-text{
  display: flex;
  justify-content: center;
  color: #005151;
  font-size: 22px;
}

.employee-node{
  cursor: pointer;
}

.manager-node{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width:20%;
  cursor: pointer;

}

div.org-chart-container,
div.org-chart-container div,
div.org-chart-container table {
    box-sizing: border-box;
}

.org-chart-container {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    min-height: 140px;
}

.org-chart-container .root-container {
    display: inline-block;
    vertical-align: top;
}

.org-chart-container table {
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: separate;
}
.org-chart-container table.add-space {
    padding: 0 5px;
}

.org-chart-container table td {
    vertical-align: top;
    padding: 0;
    box-sizing: border-box;
}

.org-chart-container table .node-box {
    border: 0.5px solid #3c4355;
    background: #fff;
    width: 200px;
    height: 80px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.org-chart-container table .node-box .node-name-box {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.org-chart-container table .node-box p.node-name {
    margin: 0;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
}

.org-chart-container table .node-box .org-node-btns {
    position: absolute;
    bottom: -13px;
    right: 0;
    left: 0;
    display: none;
    width: 100px;
    background-color: #4990C6;
    margin: 0 auto;
    border-radius: 3px;
}

.org-chart-container table .node-box .org-node-btns .icon {
    color:#fff;
    padding: 10;
    margin: 5px;
    /*font-size: 27px;*/
}

.org-chart-container table .node-box .org-node-btns .icon:hover {
    opacity: 0.3;
}

.org-chart-container table .node-box:hover .org-node-btns {
    display: block;
}

.org-chart-container table .node-box.node-animation .org-node-btns {
    display: block;
    -webkit-animation: click-me-animation 1s infinite; /* Safari 4+ */
    -moz-animation:    click-me-animation 1s infinite; /* Fx 5+ */
    -o-animation:      click-me-animation 1s infinite; /* Opera 12+ */
    animation:         click-me-animation 1s infinite; /* IE 10+, Fx 29+ */
}

.org-chart-container table .node-box textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.org-chart-container .lines td, .lines .down-line {
    height: 20px;
}

.org-chart-container .top-line {
    border-top: 2px solid #3c4355;
}

.org-chart-container .down-line {
    border-left: 1px solid #3c4355;
    border-right: 1px solid #3c4355;
    margin: 0 auto;
    width: 0px;
}

.org-chart-container .left-line {
    border-left: 1px solid #3c4355;
    float: none;
    border-radius: 0;
}
.org-chart-container .right-line {
    border-right: 1px solid #3c4355;
    float: none;
    border-radius: 0;
}

@-webkit-keyframes click-me-animation {
    0% { 
        box-shadow: none;
    }
    50% {
        -webkit-box-shadow: 0 0 30px #d35400;
        box-shadow: 0 0 30px #d35400;
    }
    100% {
        box-shadow: none;
    }
}
@-moz-keyframes click-me-animation {
    0% { 
        box-shadow: none;
    }
    50% {
        -webkit-box-shadow: 0 0 30px #d35400;
        box-shadow: 0 0 30px #d35400;
    }
    100% {
        box-shadow: none;
    }
}
@-o-keyframes click-me-animation {
    0% { 
        box-shadow: none;
    }
    50% {
        -webkit-box-shadow: 0 0 30px #d35400;
        box-shadow: 0 0 30px #d35400;
    }
    100% {
        box-shadow: none;
    }
}
@keyframes click-me-animation {
    0% { 
        box-shadow: none;
    }
    50% {
        -webkit-box-shadow: 0 0 30px #d35400;
        box-shadow: 0 0 30px #d35400;
    }
    100% {
        box-shadow: none;
    }
}